@charset "UTF-8";

:root {
	--button-color: #33C8CC;
	--button-color-hover: #51B0B3;
	--button-text-color: black;
	--button-text-color-hover: black;
}

.landing-container {
    min-width:500px;
    box-sizing:border-box;
}

*, *::before, *::after {
  box-sizing: content-box;
}

/*⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁ first section (top) ⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁*/

.top {
    height: 88vh; 
    background-image: url('${pageContext.request.contextPath}/img/main.jpeg');
    background-size: 100% 100%;
    margin-top: 125px;
 }

.overlay{
  background-color: rgba(0, 0, 0, 0.7);
  height: 88vh;
  display: flex;
  align-items: center; 
  flex-direction: column;
}

#title {
	padding-bottom: 150px;
	padding-top: 100px;
	color: white;
	font-size: 100px;
}

.book-now #book-now-button {
  padding-top: 125px;
  background: rgba(0,0,0,0.5);
  border: 2px solid #0000;
  border-radius: 4px;
  border-color: white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.book-now #book-now-button:hover {
	background: #252525;
}

/*⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀ first section (top) ⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀*/

/*⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁ second section (description) ⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁*/

.container {
	background-color: #33C8CC;
}

.description {
    background-size: cover;
    margin-top: 55px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 8%;
}

.description p{
	padding-bottom: 30px;
}

.description h2{
	font-size: 20px;
	padding-bottom: 20px;
}

.description #see-locations-button {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 25px 10px 25px;
  text-decoration: none;
  color: var(--button-text-color);
  background-color: var(--button-color);
}

.description #see-locations-button:hover {
  background: var(--button-color-hover);
  color: var(--button-text-color);
}

.red-box {
	height: 10vh;
	width: 30vw;
	background-color: #6c0001;
	margin-left: 60%;
	margin-top: -5%;
}

/*⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀ second section (description) ⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀*/

/*⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁ third section (photos) ⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁*/


.carousel-item {
	height: 85vh;
	background: #777;
	color: white;
	position: relative;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.carousel-inner {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.carousel-control-next,.carousel-control-prev {
	opacity: .8;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
	width: 3rem !important;
	height: 3rem !important;
}
/*⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀ third section (photos) ⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀*/


/*⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁ fourth section (events) ⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁*/

.events { 
    background-size: cover;
    display: flex;                  /* establish flex container */
  	flex-direction: row;            /* default value; can be omitted */
 	flex-wrap: nowrap;              /* default value; can be omitted */
  	justify-content: space-between;
  	margin-left: 5%;
  	margin-right: 5%;
  	padding-top: 3%;
  	padding-bottom: 3%;
}

/*⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁ events left flexbox ⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁*/

.events-left {
	width: 85vw;
	height: 60vh;
	display: flex;
	flex-direction: column;
	
}



.events h1{
	padding-left: 30px;
}

.events-top {
	height: 12vh;
	padding-left: 12%;
	padding-top: 10vh;
	display: flex;
	align-items: center;
}

.events-middle {
	height: 30vh;
	padding-left: 12%;
	display: flex;
	align-items: center;
}

.events-bottom {
	height: 60vh;
	padding-left: 12%;
	padding-right: 12%;
	display: flex;
	margin-top: 3%;
}


/*⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁ events navbar ⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁*/

.events-nav {
	margin-left: 5%;
	padding-top: 20px;
  	display: flex;                  /* establish flex container */
  	flex-direction: row;            /* default value; can be omitted */
 	flex-wrap: nowrap;              /* default value; can be omitted */
  	justify-content: space-between;
  	margin-right: 5%;
}

.events ul {
  list-style-type: none;

  overflow: hidden;
  padding: 0;
}

.events li {
  float: left;
}

.events li #weddingbtn {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-right: none;
  display: block;
  background-color: var(--button-color);
  color: var(--button-text-color);
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
}
.events li #confbtn {
  display: block;
  background-color: var(--button-color);
  color: var(--button-text-color);
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
}
.events li #gatheringsbtn {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-left: none;
  display: block;
  background-color: var(--button-color);
  color: var(--button-text-color);
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.events li #weddingbtn:hover {
  background-color: var(--button-color-hover);
  color: var(--button-text-color-hover);
}
.events li #confbtn:hover {
  background-color: var(--button-color-hover);
  color: var(--button-text-color-hover);
}
.events li #gatheringsbtn:hover {
  background-color: var(--button-color-hover);
  color: var(--button-text-color-hover);
}

/*⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀ events navbar ⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀*/

.events p{
	padding-left: 5%;
	padding-right: 10%;
}

/*⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀ events left flexbox ⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀*/

/*⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁ events right flexbox ⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁⋁*/

.events-right {
	width: 55vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
	
.event-picture{
	width:100%;
	height: auto;
	
}

/*⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀ events right flexbox ⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀*/
/*⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀ fourth section (events) ⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀⋀*/

