@charset "UTF-8";

:root {
	--button-color: #33C8CC;
	--button-color-hover: #51B0B3;
	--button-text-color: black;
	--button-text-color-hover: black;
}

/* Style all input fields */
.main-top h1{
	margin-top:0;
}

.main-middle {
	width: 50vw;
}

form { 
margin-top:150px;
padding-right:10px;
box-sizing: border-box;  
  padding: 30px;
  border-color:grey;
  border:solid;
  margin:auto;
}

input[type=text], input[type=password] {
  width:100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: var(--button-color);
  color: var(--button-text-color);
  padding: 10px 15px;
  margin: 8px 0;
  border: solid 1px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: var(--button-color-hover);
  color: var(--button-text-color-hover);
}


.button{
	width:25;
}

span.psw {
  
  margin-bottom:30px;
 
}

h1{
	text-align:center;
}

.acct,.register {
	text-align:center;
}

.register {
	padding-bottom: 2%;
}

 .show{
 display: inline-block;
 }
 
#show{
	float:right;
}

#sub{
	right:10px;
}